{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un lieu
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('styleMap.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
{% endblock %}

{% block javascripts %}
{#    {{ parent() }}#}

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="" defer></script>
    <script src="{{ asset('map.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


{% endblock %}


{% block body %}

    <h1 class="ml-8 py-4 text-4xl text-gray-900 font-hepta">Ajouter un lieu</h1>

    {{ form_start(lieuForm) }}
    <div class="w-full">
        <div class="grid grid-cols-6 gap-4">
            {{ form_row(lieuForm.nom, {
                row_class: 'my-5 grid grid-cols-3 col-start-2 col-span-4 flex',
                label_class: 'text-green-600 font-hepta',
                widget_class: 'w-60 py-1 col-start-2 rounded'
            }) }}
        </div>
        <div class="grid grid-cols-6 gap-4">
            {{ form_row(lieuForm.rue, {
                row_class: 'my-5 grid grid-cols-3 col-start-2 col-span-4 flex',
                label_class: 'text-green-600 font-hepta',
                widget_class: 'w-60 py-1 col-start-2 rounded'
            }) }}
        </div>
        <div class="grid grid-cols-6 gap-4">
            {{ form_row(lieuForm.latitude, {
                row_class: 'my-5 grid grid-cols-3 col-start-2 col-span-4 flex',
                label_class: 'text-green-600 font-hepta',
                widget_class: 'w-60 py-1 col-start-2 rounded'
            }) }}
        </div>
        <div class="grid grid-cols-6 gap-4">
            {{ form_row(lieuForm.longitude, {
                row_class: 'my-5 grid grid-cols-3 col-start-2 col-span-4 flex',
                label_class: 'text-green-600 font-hepta',
                widget_class: 'w-60 py-1 col-start-2 rounded'
            }) }}
        </div>
        <div class="grid grid-cols-6 gap-4">
            {{ form_row(lieuForm.ville, {
                row_class: 'my-5 grid grid-cols-3 col-start-2 col-span-4 flex',
                label_class: 'text-green-600 font-hepta',
                widget_class: 'w-60 py-1 col-start-2 rounded'
            }) }}
        </div>


        <div class="grid grid-cols-6 gap-4 [&>div:first-child]:col-start-2">
            <div class="grid grid-cols-3 col-start-2 col-span-4">
                {{ form_end(lieuForm) }}
                <button type="button" onClick="window.location.href=window.location.href;" class="w-48 bg-lime-500 hover:bg-lime-700 col-start-2 text-white font-bold py-2 px-4 border border-lime-700 rounded">Effacer</button>
            </div>
        </div>
    </div>

    <div class="w-full">
        <div class="grid grid-cols-6 gap-4">
            <div class="my-5 grid grid-cols-3 col-start-2 col-span-4 flex">
                <span class="text-green-600 font-hepta">Rentrez l'adresse :</span>
                <input id="rechercheAdresse" type="text" placeholder="veuillez renseigner l'adresse recherchée" class="w-96 py-1 col-start-2 rounded">
                <button id="boutonAdresse" type="button" onclick="rechercheAdresse()" class="w-60 bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 border border-lime-700 rounded">Rechercher l'adresse</button>
            </div>
        </div>
    </div>

    <div id="resultats" class="flex flex-col justify-center [&>button]:bg-lime-500 [&>button]:hover:bg-lime-700 [&>button]:text-white [&>button]:font-bold [&>button]:py-2 [&>button]:px-4 [&>button]:mb-6 [&>button]:border [&>button]:border-lime-700 [&>button]:rounded"></div>
    <div id="map" class=""></div>

<div class="w-full">
    <div class="grid grid-cols-6 gap-4">
        <div class="my-5 grid grid-cols-3 col-start-2 col-span-4 flex">
            <button type="button" onClick="window.history.back();" class="bg-lime-500 hover:bg-lime-700 text-white col-start-2 font-bold py-2 px-4 border border-lime-700 rounded">Go back</button>
        </div>
    </div>
</div>






{% endblock %}

