{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ app.user.username }}{% endblock %}

{% block body %}
{{ form(form) }}

    <p>Sorties auxquelles je participe !</p>
    <ul>
        {% for sortie in sorties %}
            <li>{{ sortie.nom }}</li>
        {% endfor %}
    </ul>


    <a href="{{ path('profil_modifMdp') }}" > <button >Changer de mot de passe</button></a>

{% endblock %}
