{% extends 'base.html.twig' %}

{% block title %}
    Détails de la sortie
{% endblock %}

{% block h1 %}
    <h2 class="text-4xl font-bold dark:text-white ml-10">{{ sortie.nom }}</h2>
{% endblock %}

{% block body %}
<div class="px-4 sm:px-0 border-gray-200">
    <div class="mt-6 border-t border-gray-200">
        <dl class="divide-y divide-gray-200">
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Début : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 col-start-9 sm:col-span-2 sm:mt-0">{{ sortie.dateHeureDebut | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0 bg-gray-200">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Fin : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 col-start-7 sm:col-span-2 sm:mt-0">{{ sortie.dateHeureFin | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Date et heure limite d'inscription : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.dateLimiteInscription | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0 bg-gray-200">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Nombre de places maximum : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.nbInscriptionsMax }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Nombre de places disponibles : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.nbInscriptionsMax - sortie.participants.count }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0 bg-gray-200">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Descriptions et infos : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.infosSortie }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Lieu : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.lieu }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0 bg-gray-200">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Organisateur : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.organisateur.prenom ~ ' ' ~ sortie.organisateur.nom }}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-12 sm:gap-4 sm:px-0">
            <dt class="text-base font-semibold col-start-2 col-span-2 leading-6 text-gray-900">Etat : </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ sortie.etat.libelle }}</dd>
        </div>
        </dl>
    {% if sortie.urlPhoto %}
        Photo : <img src="{{asset ('images/'~sortie.urlPhoto) }}" alt="photo_sortie" >
    {% endif %}
    </div>
</div>
<div class="grid grid-cols-12 flex">
        <div class="col-start-2 flex items-center">
            <button type="button" onClick="window.history.back();" class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 border border-lime-700 rounded">Go back</button>
        </div>

        {% if app.user and sortie.etat.libelle == "Ouverte" and sortie.participants.count < sortie.nbInscriptionsMax and not sortie.participants.contains(app.user) %}
            <div class="col-start-4 flex items-center">
                <a href="{{ path('app_participation', {'id' : sortie.id}) }}">
                    <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 col-start-4 border border-lime-700 rounded">Rejoindre</button>
                </a>
            </div>
        {% endif %}
        {% if app.user and sortie.etat.libelle == "Ouverte" and sortie.participants.contains(app.user) %}
            <div class="col-start-4 flex items-center">
                <a href="{{ path('app_desistement', {'id' : sortie.id}) }}">
                    <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 col-start-4 border border-lime-700 rounded">Se désister</button>
                </a>
            </div>
        {% endif %}
    <table class="my-6 px-4 py-3 border border-lime-700 col-start-8 col-span-2 max-h-[100rem]] overflow-y-scroll">
        <thead>
        <tr>
            <th colspan="2">Liste des participants</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr class="odd:bg-lime-200 even:bg-white">
              <td class="flex justify-center"><a href="{{ path('detail', {'id': participant.id}) }}">{{ participant.username }}</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>




{% endblock %}

