{% extends 'base.html.twig' %}

{% block title %}Liste des Sorties{% endblock %}

{% block h1 %}<h1>Liste des Sorties</h1>{% endblock %}

{% block body %}

    {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}
    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
        <span class="sr-only">Loading...</span>
    </div>

    {{ form_row(form.name) }}

    {{ form_row(form.sortiesOrganisees) }}

    {{ form_row(form.sortiesInscrit) }}

    {{ form_row(form.sortiesNonInscrit) }}

    {{ form_row(form.sortiesPassees) }}



{{ form_end(form) }}


    {% for sortie in sorties %}
    <div id="results">
        <p>{{ sortie.nom }}
        <p>Organisateur : <a href="{{ path('detail', {'id': sortie.organisateur.id}) }}">
                {{ sortie.organisateur.username}}
            </a></p>
            <span> - <a href="{{ path('sortie_details', {'id': sortie.id}) }}">Détails</a></span>
            {% if app.user == sortie.organisateur and (sortie.etat.id == 1 or sortie.etat.id == 2) %}
                <span> -
                <a href="{{ path('sortie_edit', {'id':sortie.id}) }}"> Modifier</a>
                    </span>
            {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}
