<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Git'Out{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        {{ encore_entry_link_tags('notyf') }}#}
    {% endblock %}


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('notyf') }}
    {% endblock %}
    </head>
    <body class="bg-white">
    <header>
        <div class="flex flex-1 items-center text-center justify-center sm:items-stretch sm:justify-start bg-lime-300">
            <h1 class="text-6xl font-bold dark:text-white">Git'out</h1>
            <nav class="flex justify-around">

                {% if app.user %}
                    <div>
                        <a href="{{ path('sortie_liste') }}" class="text-gray-900 hover:bg-green-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Liste des sorties</a>
                    </div>
                    <div>
                        <a href="{{ path('sortie_creation') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Créer une sortie</a>
                    </div>
                    <div>
                        <a href="{{ path('app_logout') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Se déconnecter</a>
                    </div>
                    <div>
                        <a href="{{ path('profil_monProfil') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Mon profil</a>
                    </div>
                    <div>
                        <a href="{{ path('lieu_creation') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Ajouter un lieu</a>
                    </div>
                    <div>
                        <a href="{{ path('lieu_liste') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Afficher les lieux</a>
                    </div>
                {% endif %}
                {% if not app.user %}
                    <div>
                        <a href="{{ path('app_login') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Se connecter</a>
                    </div>
                    <div>
                        <a href="{{ path('app_register') }}" class="text-gray-900 hover:bg-lime-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">S'inscrire</a>
                    </div>
                {% endif %}
            </nav>
        </div>
    </header>
    {% include '_notyf.html.twig'%}
        {% block h1 %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
